html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: $basewhite;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: $breakpoint-small) {
    max-width: $breakpoint-small;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: $breakpoint-medium) {
    max-width: $breakpoint-medium;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
  }
}//.container

main {
  grid-column: 1 / span 5;
  margin: 10px;
}

footer {
  grid-column: 1 / span 5;
}