@font-face {
  font-family: 'copperplate_ccregular';
  src: url('../sp_2021/assets/fonts/copperplatecc-heavy-webfont.woff2') format('woff2'),
       url('../sp_2021/assets/fonts/copperplatecc-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'copperplate_ccbold';
  src: url('../sp_2021/assets/fonts/copperplatecc-bold-webfont.woff2') format('woff2'),
       url('../sp_2021/assets/fonts/copperplatecc-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $black;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.5px;
}

// Paragraphs
p {
  line-height: 1.15;
}

// Links
a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity linear 100ms;

  &:hover {
    opacity: 0.5;
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial Black';
}
