// Base Shades
$basewhite:  rgb(255, 255, 255);
$lightgray:  rgb(230, 230, 230);
$basegray:   rgb(180, 180, 180);
$darkgray:   rgb(70, 70, 70);
$baseblack:  rgb(25, 25, 25);

// Brand shades
$white:      rgb(201, 199, 197);
$gray:       rgb(162, 155, 135);
$black:      rgb(24, 18, 20);

// Brand color palette
$maroon:     #a73421; //pepperoni
$red:        #ed3c24; //sauce
$yellow:     #f0e885; //cheese/sun-rays
$tan:        #fee2ad; //crust
$green:      #267e2f; //peppers
$lightblue:  #77ddff; //sky
$blue:       #6895b1; //cloud-borders
$brightblue: #24a4c8; //frame

// Fonts
$copper:     'copperplate_ccregular';
$copperbold: 'copperplate_ccbold';


// Slick Slider Fonts
$slick-font-path: "./node_modules/slick-carousel/slick/fonts/";
$slick-loader-path: "./node_modules/slick-carousel/slick/";

// Hamburger Menu variables
$hamburger-padding-x     : 8px !default;
$hamburger-padding-y     : 8px !default;
$hamburger-layer-width   : 30px !default;
$hamburger-layer-height  : 3px !default;
$hamburger-layer-spacing : 4px !default;
$hamburger-layer-color   : $black !default;


/* Font Awesome Webfonts */
$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts";


/* Media Queries */
  // Small devices (landscape iPhone5s)
  $breakpoint-small: 568px;
  $breakpoint-phone: 568px;

  // Medium devices (tablets, 768px and up)
  $breakpoint-medium: 768px;
  $breakpoint-tablet: 768px;

  // Large devices (desktops, 992px and up)
  $breakpoint-large: 992px;
  $breakpoint-laptop: 992px;

  // X-Large devices (large desktops, 1200px and up)
  $breakpoint-xl: 1200px;
  $breakpoint-desktop: 1200px;