// Color Palette
$white                   : rgb(255, 255, 255);
$lightgray               : rgb(230, 230, 230);
$gray                    : rgb(180, 180, 180);
$darkgray                : rgb(70, 70, 70);
$black                   : rgb(25, 25, 25);
$orange                  : rgb(255, 149, 10);
$lightorange             : rgb(255, 172, 77);
$darkorange              : rgb(212, 127, 0);
$yellow                  : rgb(222, 196, 0);


// Hamburger Menu variables
$hamburger-padding-x     : 8px !default;
$hamburger-padding-y     : 8px !default;
$hamburger-layer-width   : 30px !default;
$hamburger-layer-height  : 3px !default;
$hamburger-layer-spacing : 4px !default;
$hamburger-layer-color   : $orange !default;