form {
  > p {
    margin-bottom: 10px;
  }
  label {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

    @media (min-width: $breakpoint-medium) {
      font-size: 18px;
    }
  }
  input[type="text"], input[type="email"] {
    width: 100%;
    font-size: 16px;
    padding: 5px 5px 4px 6px;
    border: 1px solid $gray;

    @media (min-width: $breakpoint-medium) {
      font-size: 18px;
      padding: 8px 5px 5px 10px;
    }

    &:focus {
      outline: none;
      border-color: $brightblue;
    }
  }
  input[type="submit"] {
    -webkit-appearance: none;
    background-color: $maroon;
    border-radius: 0;
    border: 1px solid $black;
    color: $basewhite;
    font-size: 16px;
    font-family: $copperbold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 15px 5px 15px;
    transform: all ease 150ms;

    &:hover, &:focus {
      background-color: $red;
      outline: none;
    }
  }
}